<main class="container mt-4" style="max-width: 900px; height: 80vh;">
  <h2 class="text-muted text-center mb-4">Log in</h2>
  <div style="max-width: 400px; margin: 0 auto;" class="mb-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                           class: "form-control h-auto") do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true,
                                  autocomplete: "email",
                                  placeholder: "Email",
                                  class: "form-control mb-2" %>
      </div>

      <div class="field">
        <%= f.password_field :password,
                             autocomplete: "current-password",
                             placeholder: "Password",
                             class: "form-control mb-2" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success w-100" %>
      </div>
    <% end %>

    <%= render "devise/shared/links", button_type: "btn-outline-warning" %>
  </div>
</main>

