<h1 hidden>posts/show</h1>

<main class='container mt-4' style="max-width: 900px;">
    <%= render "posts",
               posts: [@post], # ! @post is a single post so we need to wrap it in an array for it to be iterable.
               truncate_n: nil,
               limit_n: @post.comments_counter %>
    
    <%= form_with model: Comment.new, url: user_post_comments_path(@user, @post) do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
        <%= render "shared/inputs_group", form: form,
                                          submit_btn_txt: "Comment",
                                          n_rows: 2,
                                          title: false %>
    <% end %>

    <div class="d-flex px-3">
      <%= form_with model: Like.new,
                    url: user_post_likes_path(@user, @post), class: "w-100 mr-1" do |form| %>
          <%= form.hidden_field :post_id, value: @post.id %>
          <div class="w-100">
            <%= form.submit "Like", class: "btn btn-primary w-100" %>
          </div>
      <% end %>

      <% if can? :destroy, @post || @post.author.id == current_user.id %>
        <%= button_to "Delete", user_post_path(@user, @post),
                      method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
</main>